* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Elementi in comune a tutti i link */
  * ul {list-style: none;}

  * a { text-decoration: none;
        color:white;}


.container{ height: 100vh;
            max-width: 920px;
            margin:auto;
            }


.bg-hero {background-image: url("../img/jumbo.png");
          background-size: cover;
          background-position-y: center;
          }

.row .col-1_6 a { line-height: 15vh; }
 

.navigare ul li{ display:inline-block;
                 padding: 10px;
                 font-size: 18px;}

.navigare ul { line-height: 5vh;}

.navigare {text-align: center;
           padding: 10px;
           }

/* Centro il tasto della nav a destra */
.tasto_nav { text-align: right;}
 
/* Centro la parte di testo nell'hero */
.hero-central{ color:white;
               height: 60%;
               margin: auto;
               position: relative;
               }

.testo-hero{ position:absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%,-50%);
             }

.testo-hero h1 { padding: 20px 0;
                 text-align: center;}

.testo-hero p {text-align: center;
               padding: 30px 0;}



.hero-central .testo-hero ul { text-align: center;}

.hero-central .testo-hero ul li{ display:inline-block;
                                 padding: 10px;
                                 font-size: 16px;
                                } 

.row .immagine-sezione img {margin-left: -80px;;}

.row .titolo-sezioni {padding: 35px 60px;}

.row .titolo-sezioni h1{font-size:45px;
                        padding-bottom: 20px;}

.row .titolo-sezioni p{font-size:16px;
                       }


/* ultima Sezione a tutto video  con domanda*/

.quarta-sezione {text-align: center;
                 padding: 25px 0;
                 height: 150vh;}

.quarta-sezione .immagine-sezione img {height: auto;
                                        }

.quarta-sezione .titolo-sezioni h1 {padding: 20px 0;}


.quarta-sezione .titolo-sezioni p {font-size: 20px;}


.quarta-sezione .domanda {  height: 10vh;
                            position: relative;}

.quarta-sezione .domanda img {  position: absolute;
                                left: 20%;
                                bottom: 50%;}

footer{padding-top: 60px;}


.imgfooter img {width: 20%;
                padding: 10px 0;
                vertical-align: middle;}
 
.imgfooter  {color:white;
             font-size: 18px;}   
             
.social {display: inline-block;}

.social a { padding:  10px 10px;}

.footer-link ul li {padding:  10px 0px;}

.footer-link { padding:0 30px;}

.registrati { padding:25px 0;}

#st {border:1 solid rgb(114, 137, 218);}


/* Posiziono l'onda */

.wave-top {height: 18vh;
           margin-bottom: -20vh;
           opacity: 0.1;
           background-image: url("../img/wave.svg");}

.wave-rotate {transform: rotate(180deg);
             height: 16vh;
             opacity: 0.1;
             background-image: url("../img/wave.svg");}



           
/* ********** 
Classi utilities */
/* ********** */ 

/* Clearfix */
.row:after { content:"";
             display: table;
             clear: both;}
  
  
/* Classi che contengono  col- */
[class*="col-"] { float:left;} 

/* aiutano ad allineare  */

.spazioalto{ margin-top: 20vh;} /* sezioni */




/* Per proporzionare le colonne */
  
.col-1_6 { width: calc(100% / 6);}
.col-2_6 { width: calc(100% / 6 * 2);}
.col-4_6 { width: calc(100% / 6 * 4);}

.col-2_7 { width: calc(100% / 6 - -50px);} 

/* per dare colore */

.bg-grey {background-color: rgb(230, 230, 230);}

.bg-darkgrey {background-color: rgb(24, 23, 23);}

.purple{color:rgb(114, 137, 218);}

/* Classi per settare i pulsanti */
.btn { padding: 15px 15px;
       margin: 0px 10px;
       border-radius: 25%;}

.btn_light {background-color: white;
            color: rgb(38, 42, 45);}

.btn_small {font-size: 15px;}

.btn_dark {background-color: rgb(35, 39, 42);;
            color: white;}

.btn_big {font-size: 15px;}

.btn_lpurple {background-color: rgb(142, 161, 225);
              color: white;}




